/* ---------------------------Adding Google Font--------------------------------  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* -----------------------------Navigation Bar styling--------------------------- */
nav{
    background-color: #2D25A0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 42px;
}
.nav-list{
    margin-right: 140px;
}
.elements{
    display: flex;
}
.elements li{
    list-style: none;
    padding-right: 36px;
}

li a{
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .login{
    width: 123px;
}
.login .fas{
    padding-right: 8px;
}

/* ----------------------------styling first section----------------------------- */

.first-section{
    background-color: #2D25A0;
    width: 100%;
}
.landing-page{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.landing-page .description{
    width: 50%;
    height: 320px;
    padding-top: 121px;
    padding-left: 155px;
    padding-bottom: 169px; 
}

.landing-page .logo{
    width:50%;
    padding-top: 50px;
    padding-right: 140.99px;
    padding-bottom: 86px;
}
.first-section .caption{
    color: #FFFFFF;
    width: 485px;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 27px;
    margin-top: 0;
}
.watch_live_now, .login{
    background-color: #E02C6D;
    width: 175px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 24px
}
.watch_live_now i{
    padding-left: 8px;
}
.first-section .logo img{
    width: 556.01px;
}

/* -------------------------------------styling second section-------------------------------- */

.second-section{
    width: 1050px;
    margin-top: 70px;
    padding-right: 80px;
}
.second-section .players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
.players .player{
    width: 330px;
    padding: 15px;
    text-align: justify;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player .player-description:hover{
    background-color: rgba(182, 250, 137, 0.603);
    transform: scale(1.050);
    transition: transform 1s ease-in 0s;
}
.player-description .player-name{
    color: #18191F;
    font-size: 28px;
    font-family: 700;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-description .player-info{
    color: #6C6C6C;
    font-size: 16px;
}
.player .player-img img{
    width: 100%;
}

/* -----------------------------styling third section---------------------------- */

.third-section{
    margin-top: 165px;
}
.highlights{
    display: flex;
    align-items: center;
    padding-right: 126px;
    padding-left: 160px;
}
.highlights .title-and-description{
    padding-right:66px;
}
.title-and-description .title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 8px;
}
.title-and-description .highlights-description{
    color: #6C6C6C;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 24px;
    
}
.cover-img img{
    width: 567px;
}
/* ---------------------------------styling footer------------------------------- */

.last-section{
    margin-top: 158px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}
.footer-img img{
    width: 483.87px;
    height: 110px;
}
.footer-img, .social-media{
    padding-bottom: 20px;
}
.fab{
    color: #969BAB;
    font-size: 17.07px;
    padding-left: 14px;
}
.copyright{
    color: #000000;
    font-size: 18px;
}

